@media only screen and (max-width: 600px){
  .items{
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px){
  .items{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
  }
}
@media only screen and (min-width: 1025px){
  .items{
    display: grid;
    align-content:space-around;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid rgb(0, 47, 255);
    background-color: white;
  }
}
.addNewCategory_flexbox{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    /* background-color: black; */
    height: auto;
    width: 100%;
}