.modalSize{
  height: 700px;
  width: 900px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.card{
  height: 480px;
  width: 350px;
  margin: 10px;
  position: relative;
  box-shadow: 0px 0px 6px 2px rgba(37,37,37,0.2);
}
.imgDiv{
  width: 100%;
  height: 70%;
  background-color: antiquewhite;
  overflow: hidden;
}
.itemImg{
  transition: transform .5s ease;
}
.imgDiv:hover .itemImg{
  transform: scale(1.3);
}

.items{
    display: grid;
    align-content:space-around;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid rgb(0, 47, 255);
    background-color: white;
  }
.addNewCategory_flexbox{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    /* background-color: black; */
    height: auto;
    width: 100%;
}