.btn{
  border: 0;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(108, 108, 255);
  color: #fff;
}
.btn_danger{
  border: 0;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255,0,0);
  color: #fff;
}