.cart, .open_cart_btn{
  position: fixed;
  top: 70px;
}
.cart{
  width: 350px;
  /* background-color: red; */
  color: rgb(74, 209, 243);
  background-color: rgba(37,37,37);
  transition: width 5s;
  right: 0;
}
.close_cart{
  width: 0;
  transition: width 5s;
}
.btn{
  border: 0;
}
.open_cart_btn{
  right: 0px;
}
.open_cart_btn{
  color: rgb(74, 209, 243);
  background-color: rgba(37,37,37);
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
}
.close_cart_btn{
  background-color: rgb(74, 209, 243);
  color: rgb(37,37,37);
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 0 5px 5px 0;
}
.cart_fields{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: #fff;
}
.inputs_div{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
.inputs_div > input{
  padding: 5px;
  outline:none;
}
.cart_items_container{
  display: flex;
  flex-direction: row;
}
.cart_item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  margin: 20px 0;
}
.cart_increment_btn, .cart_decrement_btn{
  padding: 5px;
  margin: 0 5px;
  font-size: 18px;
  border-radius: 4px;
}
.cart_increment_btn:hover, .cart_decrement_btn:hover{
  background-color: red;
  color: #fff;
}
.buy_items_btn{
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.buy_items_btn:hover{
  background-color: navy;
  color: white;
}